table, th, td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
th, td {
	font-size: 14px;
    padding: 5px;
    text-align: left;    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    align-content: center;    
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 14px;
    padding: 10px;
}
.octavosI {
    border: 1px solid rgba(0, 0, 0, 0.8);   
    background-blend-mode: color-burn;
    padding: 20px;
    text-align: center;
    grid-column: 1;
    min-width: 100px;
    max-width: 150px;

}
.cuartosI1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    grid-row-start: 1;
    grid-column: 2;
    grid-row-end: 3;
    min-width: 100px;

}
.cuartosI2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px 0;
  grid-column: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  min-width: 100px;
  
}
.cuartosI3 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px 0;
  grid-column: 2;
  grid-row-start: 5;
  grid-row-end: 7;
  min-width: 100px;
  
}
.cuartosI4 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px 0;
  grid-column: 2;
  grid-row-start: 7;
  grid-row-end: 9;
  min-width: 100px;
  
}
.semiI1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    min-width: 100px;

}
.semiI2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-column: 3;
    grid-row-start: 5;
    grid-row-end: 9;
    min-width: 100px;

}
.octavosD {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-column: 3;
    min-width: 100px;
    max-width: 150px;
}
.cuartosD1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-row-start: 1;
    grid-column: 2;
    grid-row-end: 3;
    min-width: 100px;

}
.cuartosD2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px 0;
  grid-column: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  min-width: 100px;
  
}
.cuartosD3 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px 0;
  grid-column: 2;
  grid-row-start: 5;
  grid-row-end: 7;
  min-width: 100px;
  
}
.cuartosD4 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px 0;
  grid-column: 2;
  grid-row-start: 7;
  grid-row-end: 9;
  min-width: 100px;
  
}
.semiD1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    min-width: 100px;

}
.semiD2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-column: 1;
    grid-row-start: 5;
    grid-row-end: 9;
    min-width: 100px;

}
.campeon {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-column: 2;
    min-width: 50;
}
.final1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    grid-column: 2;
    min-width: 50;
}
.final2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-column: 2;
    min-width: 50;
}
.tercero1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-column: 2;
    min-width: 50;
}
.tercero2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-column: 2;
    min-width: 50;
}
.campeontxt {
    padding: 20px;
    text-align: center;
    grid-column: 2;
    min-width: 50;
}
.finaltxt {
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    text-align: center;
    grid-column: 2;
    min-width: 100px;
}
.tercerotxt {
    padding: 20px;
    text-align: center;
    grid-column: 2;
    min-width: 50;
}
 
